.banner {
  position: relative;
  height: 400px; /* sesuaikan tinggi banner */
  background-image: url('/banner.jpg'); /* gambar dari folder public */
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); /* area miring bawah */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* overlay gelap */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-text h1 {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.banner-text p {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
