.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: transform 0.25s ease;
}

.header.hide {
  transform: translateY(-100%);
}

.nav-link {
    color: white;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.active-link {
  position: relative;
  display: inline-block; /* pastikan lebarnya sesuai teks */
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px !important;
  background-color: white !important;
  border-radius: 2px;
}
